<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAnP42cpqrM8iSm_b2d5VhhqXg0mNXPtLk"></script>

<div class="profile-search">
  <div class="image_index">
    <div class="sidebar">
      <%= form_tag profiles_path, :method => :get do %>
        <i class="ion-navicon icon-show"></i>
        <div class="location">
          <p>Location</p>
          <%= text_field_tag :location, params[:location], id: "locationTextField", class: "input_box",placeholder: "Address, city, zipcode" %>
          <div class="rangebar">
            <%= range_field_tag 'radius', params[:radius], in: 1..20, step: 1, id:"ageInputId", oninput:"ageOutputId.value = ageInputId.value" %>
            <output name="ageOutputName" id="ageOutputId"></output> miles 
          </div>
          <%= submit_tag "Search", :name => nil %>
        </div>
      <% end %> 
      <hr>
      <div class="search-name">
        <%= form_tag profiles_path, :method => :get do %>
          <p>Name</p>
            <%= text_field_tag :query, params[:query], class: "input_box", placeholder: "Username, First Name" %>
          <br>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
      <hr>
      <div align="center" data-toggle="tooltip" data-placement="bottom" title="search for stylists based on location or name (first name, username or salon name)">What is this?</div>
    </div>
    <div class="side-hidden">
      <i class="ion-navicon icon-hidden"></i>
    </div>
  </div>


  <div class="profile">

      <% @users.each do |user| %>
        <div class="user-box">
          <div class="avatar">
            <% if user.avatar? %>
              <%=link_to image_tag(user.avatar.url), profile_path(user) %>
            <% else %>
              <%=link_to image_tag("https://s3.amazonaws.com/crownshot/profile_placeholder.png"), profile_path(user) %>
            <% end %>
          </div>
          <div class="user-info">
            <span data-toggle="tooltip" data-placement="right" title="Username"><%= user.username.capitalize%></span><br>
            <% if user.first_name? %>
              <span data-toggle="tooltip" data-placement="right" title="First Name"><%= user.first_name.capitalize %></span><br>
            <% else %>
              &nbsp<br>
            <% end %>
            <% if user.salon_name? %>
              <span data-toggle="tooltip" data-placement="right" title="Salon"><%= user.salon_name.titleize %></span>
            <% else %>
              &nbsp
            <% end %>
      
          </div>

        </div>
      <% end %>
    
    <div class="paginate-box">
      <%= paginate @users %>
   </div>

  </div>
</div>

<script>
  $( ".icon-hidden" ).click(function() {
    $('.side-hidden').hide();
    $('.sidebar').show();
  });
  
  $( ".icon-show" ).click(function() {
    $('.side-hidden').show();
    $('.sidebar').hide();
  });
  
  function initialize() {
	    var input = document.getElementById('locationTextField');
	    var autocomplete = new google.maps.places.Autocomplete(input);
	    }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>