<% content_for(:title){'Log In'} %>
<div class="signup"> <!--just to reuse the padding top, no other styling--->
  <h2>Release your confidence</h2>
  <h3><strike>Have a good day.</strike> Make it a great day </h3><br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-3 form-space">
      <%= form_for(:session, :html=>{class:"form-horizontal", role: "form"}, url: login_path) do |f| %>
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :email, class:"control-label"%>
          </div>
          <div class="col-sm-offset-1 col-sm-6">
            <%= f.email_field :email, class:"form-control" %>
          </div>
        </div>
        
         <div class="form-group form-color connect-remember">
          <div class="col-sm-2">
            <%= f.label :password, class:"control-label"%>
          </div>
          <div class="col-sm-offset-1 col-sm-6">
            <%= f.password_field :password, class:"form-control" %>
            <span><%=link_to "forgot password?", new_password_reset_path %></span>
          </div>
        </div>
        
          <%= check_box_tag :remember_me, 1 , params[:remember_me]  %>
          <%= f.label :remember_me, class:"control-label form-color"%>
          

        <div class="form-group" id="login">
          <div class="col-sm-2 col-sm-offset-3">
            <div class="submit-btn">
              <%= f.submit 'Log In',  class:"btn btn-danger"%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>