<div class="signup"> <!--just to reuse the padding top, no other styling--->
  <h2>Welcome to Crownshot </h2>
  <h3><strike>Have a good day.</strike> Make it a great day </h3><br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-3 form-space">
      <%= form_for(:session, :html=>{class:"form-horizontal", role: "form"}, url: login_path) do |f| %>
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :email, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.email_field :email, class:"form-control" %>
          </div>
        </div>
        
         <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :password, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password, class:"form-control" %>
          </div>
        </div>
        
        <div class="form-group form-color">
          <div class="col-sm-offset-1 col-sm-1">
            <%= check_box_tag :remember_me, 1 , params[:remember_me]  %>
          </div>
          <div class="col-sm-4">
            <%= f.label :remember_me, class:"control-label"%>
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-4">
            <%= f.submit 'Log In',  class:"btn btn-danger"%>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>