<% content_for(:title){'Become a Stylist'} %>
<div class="signup">
  <h2>Become a stylist</h2>
  <h5>Release your confidence</h5>
  <br>
  <%= render 'shared/errors', obj: @user %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3 form-space">
        <%= form_for(@user, :html=>{class:"form-horizontal", role: "form"}) do |f| %>
          <%= render 'form', :f => f %>
          <%= f.hidden_field :is_stylist?, :value => true %>
         <br>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-3">
              <%= f.submit "Sign Up", class:"btn btn-danger"%>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
</div>