<div class="editprofile"> 
  <h2>Welcome to Crownshot </h2>
  <h3><strike>Have a good day.</strike> Make it a great day </h3><br>
  <%= render 'shared/errors', obj: @user %>
  
  <div class="profile_upload">
    <%= image_tag @user.avatar.url if @user.avatar?%>
  </div>
  
  <%# @user.menus.each do |m| %>
    <%#=image_tag m.menu.url(:thumb) %>
    <%#= link_to 'Delete',m, method: :delete %>
  <%# end %>
  
 
  
  <div class="row">
    <div class="col-sm-8 col-sm-offset-3 form-space">
      <%= form_for(@user, :html=>{class:"form-horizontal", role: "form", multipart: true}) do |f| %>
        <p>Profile</p>
        <%= f.file_field :avatar, accept: 'image/jpeg, image/gif, image/png'%>
        <%= render 'editform', :f => f %>
        
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-4">
            <%= f.submit  class:"btn btn-danger"%>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>