<div class="editprofile"> 
  <h2>Every Day is a good hair day</h2><hr>
  <%= render 'shared/errors', obj: @user %>
  
  <div class="row form-field">
    <div class="col-sm-2 col-sm-offset-2 profile_upload">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url(:avatar) if @user.avatar?%>
      <% else %>
        <div class="profileplaceholder"><img class="img-responsive" id="profile_prev" src="/assets/profile_placeholder.png" alt="your image"  /></div>
      <% end %>
      <br>
      <%= form_for(@user, :html=>{class:"form-horizontal", role: "form", multipart: true}) do |f| %>
        <p>Profile Picture</p>
          <%= f.file_field :avatar, accept: 'image/jpeg, image/gif, image/png'%>
          <br>
          <%= f.submit "Upload", class:"btn btn-sm"%>
      <% end %>
    </div>
    
    <div class="col-sm-6 col-sm-offset-1">
    <%= form_for(@user, :html=>{class:"form-horizontal", role: "form", multipart: true}) do |f| %>
      <%= render 'editform', :f => f %>
      <br>
      <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
          <%= f.submit "Update", class:"btn btn-danger"%>
        </div>
      </div>
    </div>
    <% end %>
    
  </div> 
</div>

