<div class="signup"> <!--just to reuse the padding top, no other styling--->
  <h2>Welcome to Crownshot </h2>
  <h3><strike>Have a good day.</strike> Make it a great day </h3><br>
  <%= render 'shared/errors', obj: @user %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-3 form-space">
      <%= form_for(@user, :html=>{class:"form-horizontal", role: "form"}) do |f| %>
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :username, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :username, class:"form-control" %>
          </div>
        </div>
        
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :email, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.email_field :email, class:"form-control" %>
          </div>
        </div>
        
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :password, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password, class:"form-control" %>
          </div>
        </div>
        <hr>
      
        
      <%= f.fields_for :profile do |p| %>
       <div class="form-group form-color">
          <div class="col-sm-2">
            <%= p.label :content,"First Name", class:"control-label" %>
          </div>
          <div class="col-sm-6">
            <%= p.text_field :first_name, class:"form-control" %>
          </div>
        </div>
        
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= p.label :content,"Last Name", class:"control-label" %>
          </div>
          <div class="col-sm-6">
            <%= p.text_field :last_name, class:"form-control" %>
          </div>
        </div>
      <% end %>
      
        <hr>
      
        
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :salon_name, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :salon_name, class:"form-control" %>
          </div>
        </div>
        
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :salon_location, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :salon_location, class:"form-control" %>
          </div>
        </div>
        
        <div class="form-group form-color">
          <div class="col-sm-2">
            <%= f.label :appointment_number, class:"control-label"%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :appointment_number, class:"form-control" %>
          </div>
        </div>
      
        
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-4">
            <%= f.submit  class:"btn btn-danger"%>
          </div>
        </div>
      <% end %>
      
     
      
      
      
    </div>
  </div> 
</div>