<div class="editprofile"> 
  <h2>Every Day is a good hair day</h2><hr>
  <%= render 'shared/errors', obj: @user %>
  
  <div class="row form-field">
    <div class="col-sm-2 col-sm-offset-2 profile_upload">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url(:avatar) if @user.avatar?%>
      <% else %>
        <div class="profileplaceholder"><img class="img-responsive" id="profile_prev" src="https://s3.amazonaws.com/crownshot/profile_placeholder.png?X-Amz-Date=20170118T152727Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=bf2f62fc58f2e78185cc70c6d85b44ab93e444802af50331546574b3ea17730e&X-Amz-Credential=ASIAJPQO3V3PY47M5H6A/20170118/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEEcaDP62cDlkdSxWXwRX7iL6Abvb8URcUXVj%2BRVX%2BLD7ofdsqhij8sP0ajsG%2BAzCinHAbGhHiCkB6zSWKVBFMYQ73V61icZUUynmxyz/wPJP9YnNAfVgOyNEVRy0zTSRLKvtAgFdsbXIq3RDwY7Ur4O9BLDsPfbxGbwnn%2BJow7oI2jM9kBMitYCi07pCJBw73NwS8BTIHLXk5Ue7ZKftZva66LzP1I2vkAyI4Dw3PsdGF2gVV%2BBPUzknvorX5108BTWyu8nVRVs%2B8uCi0qzFgLNAfmBdC8t4M/hnLFgUxSfWtVtV8kU4Q5emepEyPHtWBDyI9G53mO7rEiCSKzo8A2EIv7SvH8EDXZUsRsEo7tL9wwU%3D" alt="your image"  /></div>
      <% end %>
      <br>
      <%= form_for(@user, :html=>{class:"form-horizontal", role: "form", multipart: true}) do |f| %>
        <p>Profile Picture</p>
          <%= f.file_field :avatar, accept: 'image/jpeg, image/gif, image/png'%>
          <br>
          <%= f.submit "Upload", class:"btn btn-sm"%>
      <% end %>
    </div>
    
    <div class="col-sm-6 col-sm-offset-1">
    <%= form_for(@user, :html=>{class:"form-horizontal", role: "form", multipart: true}) do |f| %>
      <%= render 'editform', :f => f %>
      <br>
      <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
          <%= f.submit "Update", class:"btn btn-danger"%>
        </div>
      </div>
    </div>
    <% end %>
    
  </div> 
</div>

