<% content_for(:description){ "Discover amazing hair stylists in your area and find the hairstyle that makes you shine. You can find hairstyles in categories such as styling, color, bridal & prom!"} %> 
<% content_for(:keywords){ 'stylist, hair salon, salon, haircut, color,wedding, prom, bride, haircut, crownshot'} %> 
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAnP42cpqrM8iSm_b2d5VhhqXg0mNXPtLk"></script>

<div class="page1">
  <div class="jumbotron">
    <div class="col-md-6 col-md-offset-3 jumbo">
      <h1>EVERY DAY IS A GOOD HAIR DAY</h1>
      <div class="caption"><h5>Discover amazing hair stylists in your area</h5></div>
    </div>  
    <div class="col-md-6 col-md-offset-3 search-boxes">
      <%= form_tag images_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], id: "searchTextField",  class: "search-box location-box", placeholder: "Address, city, zipcode" %>
        <%= select_tag 'category', options_for_select(@cats, ''),class: "search-box category-box" %>
        <%= submit_tag "Discover", :name => nil, class:"search-box discover-box" %>
      <% end %>
    </div>
  </div>
  <section class="section-daily-picture">
    <h2>Fabulous Hairstyles</h2>
            
  <div class="row box-section">
    <div class="col-sm-offset-1 col-sm-3 ">
      <div class="box">
        <%= link_to image_tag("mencut.png", alt: "mens cut" ), images_path(category: 'MEN\'S CUT') %>
        <div class="credit">
            <%= link_to "by Moran", "https://www.crownshot.com/crownshot/5" %>
          </div>
      </div>
        <h3><%= link_to "Men's cut", images_path(category: 'MEN\'S CUT') %></h3>
      </div>
    <div class="col-sm-3 ">
       <div class="box">
          <%= link_to image_tag("womencut2.png", alt: "womens cut" ), images_path(category: 'WOMEN\'S CUT') %>
          <div class="credit">
            <%= link_to "by Michael", "https://www.crownshot.com/crownshot/103" %>
          </div>
        </div>
      <h3><%= link_to "Women's cut", images_path(category: 'WOMEN\'S CUT') %></h3>
    </div>
    <div class="col-sm-3 ">
       <div class="box">
        <%= link_to image_tag("redcolor.png", alt: "color" ), images_path(category: 'COLOR') %>
         <div class="credit">
            <%= link_to "by Reavey", "https://www.crownshot.com/crownshot/12" %>
          </div>
      </div>
      <h3><%= link_to "Color", images_path(category: 'COLOR') %></h3>
    </div>
   </div>
 </section>
 <section class="section-special-picture">
    <div class="row">
      <h2>The Perfect Hairstyle <br>for when you say I do</h2>
    </div>
    <div class="row ">
      <div class="col-sm-3 col-sm-offset-3 special-box ">
        <%= link_to image_tag("bridal.jpg", alt: "bridal" ), images_path(category: 'BRIDAL') %>
        <h3><%= link_to "Bridal", images_path(category: 'BRIDAL') %></h3>
      </div>
      <div class="col-sm-3 special-box">
        <%= link_to image_tag("prom.png", alt: "prom" ), images_path(category: 'PROM') %>
        <h3><%= link_to "Prom", images_path(category: 'PROM') %></h3>
      </div>
    </div>
  </section>
  <section class="section-stylist">
    <div class="row">
      <h2>Stylist Profile</h2>
    </div>
    <div class="row ">
      <div class="col-sm-6 steps-box">
        <%= link_to image_tag("sam1.png", alt: "stylist profile", class:"profile-image" ), image_path(427) %>

      </div>
      <div class="col-sm-6 steps-box">
        <div class="works-step">
            <div class="circle">1</div>
            <div class="text">Click on the hairstyles you like.</div>
        </div>
         <div class="works-step">
            <div class="circle">2</div>
            <div class="text">Check out the awesome stylist.</div>
        </div>
         <div class="works-step">
            <div class="circle">3</div>
            <div class="text">Save the hairstyle in your wishlist!</div>
        </div>
        
      
                
      </div>
    </div>
  </section>
  
  
  <%=render 'layouts/footer' %>
</div>

<script>
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    $('.box').mouseover(function(){
      $(this).find('.credit').fadeIn(200);
    });
    
    $('.box').mouseleave(function(){
      $(this).find('.credit').fadeOut(200);
    });
</script>