<div class="row">
  <div class="col-md-12">
  <%#= render 'shared/errors', obj: @image %>
      
  <%= form_for(@image) do |f|%>
    <div class="col-md-2 col-md-offset-1">
      <div class="uploadplaceholder">
        <% if @image.picture? %>
          <%=image_tag @image.picture.url(:thumb) %>
        <% else %>
          <img class="img-responsive" id="img_prev" src="https://s3.amazonaws.com/crownshot/white.png?X-Amz-Date=20170118T152612Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=4afb07f909f05b26844f15adf91d5db5af88cead27d0d3342d53856f7bd6726f&X-Amz-Credential=ASIAJPQO3V3PY47M5H6A/20170118/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEEcaDP62cDlkdSxWXwRX7iL6Abvb8URcUXVj%2BRVX%2BLD7ofdsqhij8sP0ajsG%2BAzCinHAbGhHiCkB6zSWKVBFMYQ73V61icZUUynmxyz/wPJP9YnNAfVgOyNEVRy0zTSRLKvtAgFdsbXIq3RDwY7Ur4O9BLDsPfbxGbwnn%2BJow7oI2jM9kBMitYCi07pCJBw73NwS8BTIHLXk5Ue7ZKftZva66LzP1I2vkAyI4Dw3PsdGF2gVV%2BBPUzknvorX5108BTWyu8nVRVs%2B8uCi0qzFgLNAfmBdC8t4M/hnLFgUxSfWtVtV8kU4Q5emepEyPHtWBDyI9G53mO7rEiCSKzo8A2EIv7SvH8EDXZUsRsEo7tL9wwU%3D" alt="your image" />
          
        <% end %>
        
      </div>
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png',onchange:"readURL(this);" %>
        <%= f.hidden_field :picture_cache, :value => @image.picture_cache %>
      </div>

     
     <div class="col-md-8 col-md-offset-1 uploadfield">
        <div id="image_users">
            <%= f.fields_for :image_users do |u| %>
              <%=render 'image_user_fields', :f => u %>
            <% end %> 
            
            <div class="links">
              <%= link_to_add_association 'add stylist', f, :image_users, id: "add_stylist" %>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 col-md-offset-7">
          <%= f.submit 'Upload' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<script>

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev')
         .attr('src', e.target.result)
       };

      reader.readAsDataURL(input.files[0]);
    }
  };
  
 $(function() {
   $('#image_users').on('cocoon:after-insert', function() {
     check_to_hide_or_show_add_link();
   });

   $('#image_users').on('cocoon:after-remove', function() {
     check_to_hide_or_show_add_link();
   });

   check_to_hide_or_show_add_link();

   function check_to_hide_or_show_add_link() {
     if ($('#image_users .nested-fields').length >= 5) {
       $('#image_users .links a').hide();
     } else {
       $('#image_users .links a').show();
     }
   }
  });
 

</script>