<p>
  <%= f.label :content,"Stylist" %><br>
  <%= f.collection_select :user_id, User.all, :id,:username  %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove stylist" %>
</p>

<%= f.fields_for :image_user_categories do |u| %>
  <%=render 'image_service', :f => u %>
<% end %> 