<div class="row">
  <div class="col-md-12">
  <%= render 'shared/errors', obj: @image %>
      
  <%= form_for(@image) do |f|%>
    <div class="col-md-2 col-md-offset-1">
      <div class="uploadplaceholder"><img class="img-responsive" id="img_prev" src="/assets/white.png" alt="your image" /></div>
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png',onchange:"readURL(this);" %>
      </div>

     
     <div class="col-md-8 col-md-offset-1 uploadfield">
        <div id="image_users">
            <%= f.fields_for :image_users do |u| %>
              <%=render 'image_user_fields', :f => u %>
            <% end %> 
            
            <div class="links">
              <%= link_to_add_association 'add stylist', f, :image_users, id: "add_stylist" %>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 col-md-offset-7">
          <%= f.submit 'Upload' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<script>

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img_prev')
         .attr('src', e.target.result)
       };

      reader.readAsDataURL(input.files[0]);
    }
  };
  
 $(function() {
   $('#image_users').on('cocoon:after-insert', function() {
     check_to_hide_or_show_add_link();
   });

   $('#image_users').on('cocoon:after-remove', function() {
     check_to_hide_or_show_add_link();
   });

   check_to_hide_or_show_add_link();

   function check_to_hide_or_show_add_link() {
     if ($('#image_users .nested-fields').length >= 5) {
       $('#image_users .links a').hide();
     } else {
       $('#image_users .links a').show();
     }
   }
  });
 

</script>