<div class="nested-fields">
  <div class="field col-sm-3">
    <%= f.label :content,"Stylist" %><br>
    <%= f.collection_select :user_id, User.all, :id,:username,:prompt => "  "  %><br>
    <%= link_to_remove_association "<span class='glyphicon glyphicon-trash' aria-hidden='true' </span>".html_safe, f %>
  </div>
  
    <%= f.fields_for :image_user_categories do |u| %>
      <%=render 'image_user_category_fields', :f => u %>
    <% end %> 
  
    <div class="links">
      <%= link_to_add_association 'add service', f, :image_user_categories %>
    </div> 
  
</div>


<%#= f.check_box :_destroy %>
<%#=link_to "remove", '#', class: "remove_fields" %>

  