<% content_for(:title){'Hairstyles - Crownshot'} %>
<%= provide(:description, 'Trending hairstyles for you. Find out where you can get them. ') %>  
<%= provide(:keywords, 'hairstyle, salon, ombre, highlight, salon, stylist') %> 
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAnP42cpqrM8iSm_b2d5VhhqXg0mNXPtLk"></script>

<div class="image_index">
  
<div class="sidebar">
  <%= form_tag images_path, :method => :get do %>
      <i class="ion-navicon icon-show"></i>
      <div class="location">
        <p> Location</p>
        <%= text_field_tag :search, params[:search], id: "searchTextField", class: "input_box",placeholder: "Address, city, zipcode" %>
        <div class="rangebar">
          <%= range_field_tag 'radius', params[:radius], in: 1..20, step: 1, id:"ageInputId", oninput:"ageOutputId.value = ageInputId.value" %>
          <output name="ageOutputName" id="ageOutputId"></output> miles 
        </div>
        <%= submit_tag "Done", :name => nil %>
      </div>
      <hr>
        <% url = request.fullpath.upcase() %>
       <ul class="cat-list">
        <li class="category <%='active' if url.include?('=WOMEN')%>"><%= link_to "Women's cut", images_path(category: 'WOMEN\'S CUT', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=MEN')%>"><%= link_to "Men's cut", images_path(category: 'MEN\'S CUT', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=COLOR')%>"><%= link_to "Color", images_path(category: 'COLOR', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=BRIDAL')%>"><%= link_to "Bridal", images_path(category: 'BRIDAL', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=PROM')%>"><%= link_to "Prom", images_path(category: 'PROM', search: params[:search],radius: params[:radius]) %> </li>
      </ul>
  <% end %>
</div>
<div class="side-hidden">
  <i class="ion-navicon icon-hidden"></i>
</div>

<div class="main">
  <% if @images.empty? %>
    <div class="image-emp">
      <p> No pictures are available in this area yet :( . Please try to choose a larger radius.</p>
      <hr>
      <p> We are eager to make more pictures available in your area. Email us your area name to get a head start :)</p>
      <p> In the meantime, let's go checkout pictures in some <%= link_to 'popular places',images_path(search: 10314) %> :) </p>
      <br>
      <p class="emp-email">Email: info@crownshot.com</p>
    </div>
  <% else %>
    <% @images.each do |image| %> 
      <div class="image">
        <%= link_to image_tag(image.picture.url(:thumb)), image_path(image) %>
        
        <% if logged_in? %>
          <% if @wishlist_index.include?(image.id) %>
            <div class="like">
              <%= link_to "<i class='ion-ios-heart-outline'></i>".html_safe, add_to_wishlist_path(id: image), remote: true, class: "love",style:'display:none' %>
              <%= link_to "<i class='ion-ios-heart'></i>".html_safe, wishlist_path(id: image.id, image: image), method: :delete, remote: true, class: "unlove" %>  
            </div>
          <% else %>
            <div class="like" data-toggle="tooltip" data-placement="top" title="Save to wishlsit">
              <%= link_to "<i class='ion-ios-heart-outline'></i>".html_safe, add_to_wishlist_path(id: image), remote: true, class: "love"%>
              <%= link_to "<i class='ion-ios-heart'></i>".html_safe, wishlist_path(id: image.id, image: image), method: :delete, remote: true, class: "unlove",style:'display:none'%>
            </div>
          <% end %>
        <% else %>
          <div class="like" data-toggle="tooltip" data-placement="top" title="Save to wishlsit" >
            <div data-toggle="modal" data-target="#wishlist">
              <i class='ion-ios-heart-outline love'></i>
            </div>
          </div>
         
          <div class="modal" id="wishlist" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Require login</h4>
                </div>
                <div class="modal-body">
                  <p>Go ahead and sign up to have your own wishlist :)</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Gotcha</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        <% end %>
      </div>
    <% end %>
    <div class="paginate-box">
      <%= will_paginate %>
    </div>
  <% end %>
  </div>
</div>

  
<script>
  $( ".icon-hidden" ).click(function() {
    $('.side-hidden').hide();
    $('.sidebar').show();
  });
  
  $( ".icon-show" ).click(function() {
    $('.side-hidden').show();
    $('.sidebar').hide();
  });
  
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>


