<div class="image_index">
  
<div class="sidebar">
  <%= form_tag images_path, :method => :get do %>
  
      <div class="location">
        <p> Location</p>
        <%= text_field_tag :search, params[:search], class: "input_box" %>
        <% submit_tag "Search", :name => nil %>
      </div>
      
       <ul>
        <li class="category"><%= link_to "Women's cut", images_path(category: 'WOMEN\'S CUT', search: params[:search]) %> </li>
        <li class="category"><%= link_to "Men's cut", images_path(category: 'MEN\'S CUT', search: params[:search]) %> </li>
        <li class="category"><%= link_to "Color", images_path(category: 'COLOR', search: params[:search]) %> </li>
        <li class="category"><%= link_to "Bridal", images_path(category: 'BRIDAL', search: params[:search]) %> </li>
        <li class="category"><%= link_to "Prom", images_path(category: 'PROM', search: params[:search]) %> </li>
      </ul>
  
  <% end %>
</div>


<div class="main">
  <% @images.each do |image| %> 
    <div class="image">
      <%= link_to image_tag(image.picture.url(:thumb)), image_path(image) %>
      
      <% if logged_in? %>
        <% if @wishlist_index.include?(image.id) %>
          <div class="like">
            <%= link_to "<i class='ion-ios-heart-outline'></i>".html_safe, add_to_wishlist_path(id: image), remote: true, class: "love",style:'display:none' %>
            <%= link_to "<i class='ion-ios-heart'></i>".html_safe, wishlist_path(id: image.id, image: image), method: :delete, remote: true, class: "unlove" %>  
          </div>
        <% else %>
          <div class="like" data-toggle="tooltip" data-placement="top" title="Save to wishlsit">
            <%= link_to "<i class='ion-ios-heart-outline'></i>".html_safe, add_to_wishlist_path(id: image), remote: true, class: "love"%>
            <%= link_to "<i class='ion-ios-heart'></i>".html_safe, wishlist_path(id: image.id, image: image), method: :delete, remote: true, class: "unlove",style:'display:none'%>
          </div>
        <% end %>
      <% else %>
        <div class="like">
          <%= link_to "<i class='ion-ios-heart-outline'></i>".html_safe, add_to_wishlist_path(id: image), remote: true, class: "love" %>
          <%= link_to "<i class='ion-ios-heart'></i>".html_safe, wishlist_path(id: image.id, image: image), method: :delete, remote: true, class: "unlove",style:'display:none'%>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
  
  
  
  
  
  
  
  
  
  
  <%# image.users.each do |user| %>
    <%#= user.username%>
  <%# end %>
  
  <%# image.categories.each do |category| %>
    <%#= category.name%>
  <%# end %>


