<% content_for(:title){'Dreaming Hairstyles - Crownshot'} %>
<% content_for(:keywords){ 'stylist, hair, ombre, balayage, prom, wedding, pixie, cut, hairstyle, layer, lob, salon, highlight, colormelt, mermaid hair'} %> 
<% content_for(:description){ 'Find out the popular and talented stylists in your zipcode for mermaid hair and ombre, prom and wedding. Click to see more.'} %> 

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAnP42cpqrM8iSm_b2d5VhhqXg0mNXPtLk"></script>

<div class="image_index">
  
<div class="sidebar">
  <%= form_tag images_path, :method => :get do %>
      <i class="ion-navicon icon-show"></i>
      <div class="location">
        <p> Location</p>
        <%= text_field_tag :search, params[:search], id: "searchTextField", class: "input_box",placeholder: "Address, city, zipcode" %>
        <div class="rangebar">
          <%= range_field_tag 'radius', params[:radius], in: 1..20, step: 1, id:"ageInputId", oninput:"ageOutputId.value = ageInputId.value" %>
          <output name="ageOutputName" id="ageOutputId"></output> miles 
        </div>
        <%= submit_tag "Done", :name => nil %>
      </div>
      <hr>
        <% url = request.fullpath.upcase() %>
       <ul class="cat-list">
        <li class="category <%='active' if url.include?('=WOMEN')%>"><%= link_to "Women's cut", images_path(category: 'WOMEN\'S CUT', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=MEN')%>"><%= link_to "Men's cut", images_path(category: 'MEN\'S CUT', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=COLOR')%>"><%= link_to "Color", images_path(category: 'COLOR', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=BRIDAL')%>"><%= link_to "Bridal", images_path(category: 'BRIDAL', search: params[:search], radius: params[:radius]) %> </li>
        <li class="category <%='active' if url.include?('=PROM')%>"><%= link_to "Prom", images_path(category: 'PROM', search: params[:search],radius: params[:radius]) %> </li>
      </ul>
  <% end %>
</div>
<div class="side-hidden">
  <i class="ion-navicon icon-hidden"></i>
</div>

<div class="main">
   
  <% if @images.empty? %>
    <div class="image-emp">
      <p> No pictures are available in this area yet :( . Please try to choose a larger radius.</p>
      <hr>
      <p> We are eager to expand. <%= link_to 'Tell us',contacts_path %> your area name to grab our attention :)</p>
      <p> In the meantime, let's go checkout pictures in a popular place. <%= link_to 'New York City',images_path(search: 'New York City') %> </p>
      <br>
    </div>
  <% else %>
   <% if !logged_in? %>
    <div class="poping" data-toggle="modal" data-target="#pop">Pop Up</div>
      <div class="signup-pop">
        <div class="modal " id="pop" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Loving the amazing hairstyles? &lt3</h4>
              </div>
              <div class="modal-body">
                <p>SAVE them in your wishlist before they disappear!</p><br>
                <button class="btn btn-small"><%= link_to "Sign Up", signup_path %></button>&nbsp&nbsp&nbsp&nbspor&nbsp&nbsp&nbsp</span><%= link_to "Log In", login_path, class:"pop-login" %> to save them
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->
     <% end %> 
      
    <div id="images">
      <%= render @images %>
    </div>
    <%= paginate @images %>
    
 
  <% end %>
  </div>
</div>

  
<script>
  $( ".icon-hidden" ).click(function() {
    $('.side-hidden').hide();
    $('.sidebar').show();
  });
  
  $( ".icon-show" ).click(function() {
    $('.side-hidden').show();
    $('.sidebar').hide();
  });
  
  function initialize() {
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

  
    setTimeout(function(){$(".poping").click();}, 100000);
  

</script>


