<%= image_tag @image.picture.url if @image.picture? %>
<p>Stylist</p>
<%  @image.users.each do |user| %>
  <li><%= user.username %></li>
<% end %>
<p> Service performed</p>
<%  @image.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
<br>

<p>Location of this picture </p>
  <% (0... @image.users.count).each do |n| %>
    User # <%=  n+1 %>
    <%= @image.users[n].latitude %>
    <%= @image.users[n].longitude %>
    <br>
  <%end%>
  



<%= link_to 'Edit', edit_image_path(@image) %>