<!DOCTYPE html>
<html>
<head>
  <title> 
    <% if yield(:title).present? %>
        <%= yield(:title) %>
    <% else %>
        Crownshot - Everyday is a good hair day
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="description" content=<%= yield(:description) %>>
  <meta name="keywords" content=<%= yield(:keywords) %>>
  
</head>
<body>

<%= render 'layouts/navigation' %>

<div class="container-body" %>
  <%=render 'layouts/message' %>
  <%= yield %>
</div>

</body>
</html>
